interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.github.com/repos/learningequality/kolibri/releases?per_page=100
  response:
    body:
      string: "[{\"url\":\"https://api.github.com/repos/learningequality/kolibri/releases/283773593\",\"assets_url\":\"https://api.github.com/repos/learningequality/kolibri/releases/283773593/assets\",\"upload_url\":\"https://uploads.github.com/repos/learningequality/kolibri/releases/283773593/assets{?name,label}\",\"html_url\":\"https://github.com/learningequality/kolibri/releases/tag/0.19.2-alpha0\",\"id\":283773593,\"author\":{\"login\":\"marcellamaki\",\"id\":17235236,\"node_id\":\"MDQ6VXNlcjE3MjM1MjM2\",\"avatar_url\":\"https://avatars.githubusercontent.com/u/17235236?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/marcellamaki\",\"html_url\":\"https://github.com/marcellamaki\",\"followers_url\":\"https://api.github.com/users/marcellamaki/followers\",\"following_url\":\"https://api.github.com/users/marcellamaki/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/marcellamaki/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/marcellamaki/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/marcellamaki/subscriptions\",\"organizations_url\":\"https://api.github.com/users/marcellamaki/orgs\",\"repos_url\":\"https://api.github.com/users/marcellamaki/repos\",\"events_url\":\"https://api.github.com/users/marcellamaki/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/marcellamaki/received_events\",\"type\":\"User\",\"user_view_type\":\"public\",\"site_admin\":false},\"node_id\":\"RE_kwDOAvqWa84Q6gqZ\",\"tag_name\":\"0.19.2-alpha0\",\"target_commitish\":\"release-v0.19.x\",\"name\":\"0.19.2-alpha0\",\"draft\":false,\"immutable\":false,\"prerelease\":true,\"created_at\":\"2026-02-06T19:32:01Z\",\"updated_at\":\"2026-02-06T20:29:09Z\",\"published_at\":\"2026-02-06T19:46:25Z\",\"assets\":[{\"url\":\"https://api.github.com/repos/learningequality/kolibri/releases/assets/351860616\",\"id\":351860616,\"node_id\":\"RA_kwDOAvqWa84U-PeI\",\"name\":\"kolibri-0.19.1a0.dev0+git.99.gbfca81cd-0.1.6-official-release-universal.apk\",\"label\":\"kolibri-0.19.1a0.dev0+git.99.gbfca81cd-0.1.6-official-release-universal.apk\",\"uploader\":{\"login\":\"github-actions[bot]\",\"id\":41898282,\"node_id\":\"MDM6Qm90NDE4OTgyODI=\",\"avatar_url\":\"https://avatars.githubusercontent.com/in/15368?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/github-actions%5Bbot%5D\",\"html_url\":\"https://github.com/apps/github-actions\",\"followers_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/followers\",\"following_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/subscriptions\",\"organizations_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/orgs\",\"repos_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/repos\",\"events_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/github-actions%5Bbot%5D/received_events\",\"type\":\"Bot\",\"user_view_type\":\"public\",\"site_admin\":false},\"content_type\":\"application/vnd.android.package-archive\",\"state\":\"uploaded\",\"size\":211947512,\"digest\":\"sha256:9c94bd61a65c6244a411d41128ec90a7b5d7658c6ee52e62257a5868a8c52a60\",\"download_count\":5,\"created_at\":\"2026-02-06T20:29:03Z\",\"updated_at\":\"2026-02-06T20:29:09Z\",\"browser_download_url\":\"https://github.com/learningequality/kolibri/releases/download/0.19.2-alpha0/kolibri-0.19.1a0.dev0%2Bgit.99.gbfca81cd-0.1.6-official-release-universal.apk\"},{\"url\":\"https://api.github.com/repos/learningequality/kolibri/releases/assets/351850489\",\"id\":351850489,\"node_id\":\"RA_kwDOAvqWa84U-M_5\",\"name\":\"kolibri-0.19.1a0.dev0+git.99.gbfca81cd-py2.py3-none-any.whl\",\"label\":\"kolibri-0.19.1a0.dev0+git.99.gbfca81cd-py2.py3-none-any.whl\",\"uploader\":{\"login\":\"github-actions[bot]\",[...]
