{% load zipcontent %}
<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="google" content="notranslate">

        <style>
            body {
                background-color: white;
            }
        </style>

        <link type="text/css" rel="stylesheet" media="all" href="{% zc_static 'assets/h5p/styles/h5p.css' %}" />
        <link type="text/css" rel="stylesheet" media="all" href="{% zc_static 'assets/h5p/styles/h5p-confirmation-dialog.css' %}" />
        <link type="text/css" rel="stylesheet" media="all" href="{% zc_static 'assets/h5p/styles/h5p-core-button.css' %}" />

        <script>

            var H5P = window.H5P || {};
            H5P.externalEmbed = true;
            H5P.preventInit = true;

            {{ hashi_initialize|safe }}

        </script>

        <script type="text/javascript" src="{% zc_static 'assets/h5p/js/frame.bundle.js' %}" crossorigin="anonymous"></script>

    </head>
    <body></body>
</html>
