# TODO - refactor these files such that they pass eslint, and remove from here

kolibri/core/assets/src/asset_loader.js
kolibri/core/assets/src/core_app_mediator.js
kolibri/core/assets/src/core_app_constructor.js
kolibri/core/assets/test/asset_loader.js
kolibri/core/assets/test/mediator.js
