*.py[cod]

# C extensions
*.so

# Packages
.cache
.eggs
*.egg
*.egg-info
dist
dist-packages-temp
dist-packages-cache
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml
htmlcov/
kolibrihome_test/

# Translations
*.mo
kolibri/locale/

# Mr Developer
.mr.developer.cfg
.project
.pydevproject
.venv
.idea

# Complexity
output/*.html
output/*/index.html

# Sphinx
docs/_build

# api-docs
docs/py_modules/kolibri*rst
docs/py_modules/modules.rst
docs/kolibri*rst # old location
docs/modules.rst # old location

# node
node_modules
npm-debug.log

# Node coverage data
coverage

# webpack built files
kolibri/**/build/*
kolibri/**/static/*
js-dist

# swap files
*.swp

# editor files
*.sublime-project
*.sublime-workspace

# Content App
storage/*
kolibri/content/content_db/*.sqlite3

# virtual environment
venv/

# leftover from hack day - want to ensure people don't check these in
kolibri/plugins/learn/assets/src/demo/

# ignore strange OSX icon files. (Note there are special characters after 'Icon')
# see http://stackoverflow.com/a/30755378
Icon

#ignore added files with DS_Store
.DS_Store
/crowdin.yaml
