include AUTHORS.md
include CONTRIBUTING.md
include CHANGELOG.md
include LICENSE
include README.md
include kolibri/VERSION
recursive-include kolibri/locale *.mo
recursive-include kolibri/locale *.json
recursive-include kolibri/core *
recursive-include kolibri/deployment *
recursive-include kolibri/dist *

# Exclude the unused Django GIS and Humanize app
recursive-exclude kolibri/dist/django/contrib/gis *
recursive-exclude kolibri/dist/django/contrib/humanize *
# Exclude Django module locales that are not used by Kolibri
recursive-exclude kolibri/dist/rest_framework/locale *
recursive-exclude kolibri/dist/django_filters/locale *
recursive-exclude kolibri/dist/mptt/locale *
recursive-exclude kolibri/dist/django/contrib/admindocs/locale *
recursive-exclude kolibri/dist/django/contrib/auth/locale *
recursive-exclude kolibri/dist/django/contrib/sites/locale *
recursive-exclude kolibri/dist/django/contrib/contenttypes/locale *
recursive-exclude kolibri/dist/django/contrib/flatpages/locale *
recursive-exclude kolibri/dist/django/contrib/sessions/locale *
recursive-exclude kolibri/dist/django/contrib/admin/locale *

recursive-include kolibri/plugins *
recursive-include kolibri/utils *
recursive-include kolibri/*/static *.*
recursive-include kolibri/*/build/ *.json
recursive-include kolibri/plugins/*/build *.json

recursive-exclude kolibri/* *pyc
recursive-exclude kolibri/* *pyo
recursive-exclude kolibri/core/assets *
recursive-exclude kolibri/core/node_modules *
recursive-exclude kolibri/plugins/*/assets *
recursive-exclude kolibri/plugins/*/node_modules *
exclude kolibri/*/buildConfig.js
exclude kolibri/plugins/*/buildConfig.js

recursive-exclude kolibri/dist *pyc
recursive-exclude kolibri/dist/*/__pycache__ *

# Exclude all test directories
recursive-exclude kolibri/**/tests *
recursive-exclude kolibri/**/test *
recursive-exclude kolibri/**/testing *
# Except the Django one which is needed by rest_framework
recursive-include kolibri/dist/django/test *.py
