include AUTHORS.md
include CONTRIBUTING.md
include CHANGELOG.md
include LICENSE
include README.md
include kolibri/VERSION
recursive-include kolibri/locale *.mo
recursive-include kolibri/locale *.json
recursive-include kolibri/auth *
recursive-include kolibri/content *
recursive-include kolibri/core *
recursive-include kolibri/deployment *
recursive-include kolibri/dist *
recursive-include kolibri/logger *
recursive-include kolibri/plugins *
recursive-include kolibri/test *
recursive-include kolibri/utils *
recursive-include kolibri/tasks *
recursive-include kolibri/*/static *.*
recursive-include kolibri/*/build/ *.json
recursive-include kolibri/plugins/*/build *.json
include kolibri/plugins/*/content_types.json

recursive-exclude kolibri/* *pyc
recursive-exclude kolibri/core/assets *
recursive-exclude kolibri/plugins/*/assets *
recursive-exclude kolibri/plugins/*/node_modules *
exclude kolibri/*/buildConfig.js
exclude kolibri/plugins/*/buildConfig.js

recursive-exclude kolibri/dist *pyc
prune kolibri/dist/*/__pycache___
