include AUTHORS.rst
include CONTRIBUTING.rst
include CHANGELOG.rst
include LICENSE
include README.rst
recursive-include kolibri/utils *
recursive-include kolibri/*/static *.*
recursive-include kolibri/dist *
recursive-exclude kolibri/dist *pyc
prune kolibri/dist/*/__pycache___
