{% load i18n core_tags webpack_tags content_tags cache %}
{% load static %}
{% get_current_language_bidi as LANGUAGE_BIDI %}
{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html>
<html dir="{{ LANGUAGE_BIDI|yesno:'rtl,ltr' }}" lang="{{ LANGUAGE_CODE }}">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="google" content="notranslate">
  {% theme_favicon %}
  <title>{% site_title %}</title>
  {% frontend_base_head_markup %}
</head>
<body>
<rootvue>
  <style>
    .container{
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }

    .rel{
      position: relative;
      width: 100%;
      height: 100%;
    }

    .flapping-kolibri {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  </style>
  <div class="container">
    <div class="rel">
      {% include "kolibri/loading_snippet.html" %}
    </div>
  </div>
</rootvue>
{% block frontend_assets %}
{% content_renderer_assets %}
{% webpack_asset 'kolibri.core.default_frontend' %}
{% frontend_base_assets %}
{% endblock %}

{% block content %}

{% endblock %}

</body>
</html>
