{% load i18n kolibri_tags webpack_tags %}<html>
<head>
  {% kolibri_main_navigation %}
  <title>{% block title %}{% endblock %} - {% trans "Kolibri" %}</title>
  {% block frontend_assets %}
  {% webpack_asset 'default_frontend' %}
  {% webpack_base_assets %}
  {% webpack_base_async_assets %}
  {% endblock %}
</head>
<body>

{% block main_menu %}
<ul role="nav">
  {% kolibri_main_navigation as nav %}

  {% for item in nav %}
  <li><a href="{{ item.url }}">{{ item.label }}</a></li>
  {% endfor %}

</ul>
{% endblock %}

<hr>

{% block content %}

{% endblock %}

</body>
</html>
