{% load i18n %}
{% load staticfiles %}
{% get_current_language_bidi as LANGUAGE_BIDI %}
{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html>
<html dir="{{ LANGUAGE_BIDI|yesno:'rtl,ltr' }}" lang="{{ LANGUAGE_CODE }}">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="google" content="notranslate">
  <link rel="shortcut icon" href="{% static 'assets/logo.ico' %}">
  <title>{% trans "Kolibri" %}</title>
  <style>
    body {
      margin: 0;
      font-family: sans-serif;
      background-color: white;
    }
    .topbar {
      width: 100%;
      color: white;
      background-color: {{ brand_primary_v400 }} !important;
    }
    .topbar h1 {
      display: inline-block;
      padding-right: 32px;
      padding-left: 32px;
      font-size: x-large;
    }
    .content-container {
      padding: 32px;
    }
  </style>
</head>
<body>
  <div class="topbar">
    <h1>Kolibri</h1>
  </div>

  <div class="content-container">
    <h2>{% trans "Unsupported browser" %}</h2>
    <p>{% trans "Sorry, your browser version is not supported." %}</p>
    <p>{% trans "To use Kolibri, we recommend using Firefox or Chrome." %}</p>
    <p>{% trans "You can also try updating your current browser." %}</p>
  </div>
</body>
</html>
