
$font-stack: 'NotoSans';

$brand-primary-color: #323232;
$brand-accent-color: #E60000;

$ui-input-text-color: #D8D8D8;
$ui-input-label-color: #D8D8D8;
$ui-input-label-font-size: 12px;
$ui-input-label-color--active: #D8D8D8;
$ui-input-label-color--hover: #ffffff;
$ui-input-border-color: #D8D8D8;
$ui-input-border-color--active: #D8D8D8;
$ui-input-border-color--hover: #ffffff;
$ui-input-button-color: #D8D8D8;
