@import '~kolibri.styles.definitions';

$core-action-light: #e2d1e0;
$core-action-dark: #72486f;

$core-accent-color: #996189;
$core-action-normal: #996189;

$core-bg-canvas: #f9f9f9;

$core-text-default: #3a3a3a;

$core-bg-warning: #fff3e1;

$core-text-error: #b93329;
$core-bg-error: #eeeeee;

/* Status colors */
$core-status-progress: #2196f3;
$core-status-mastered: #ffc107;
$core-status-correct: #4caf50;
$core-status-wrong: #df4d4f;

$core-grey: #e0e0e0;
$core-grey-200: #e0e0e0;
$core-grey-300: #e0e0e0;

$core-loading: #03a9f4;

$transition: all $core-time ease;
$raised-shadow: 0 1px 5px rgba(0, 0, 0, 0.2), 0 2px 2px rgba(0, 0, 0, 0.14),
  0 3px 1px -2px rgba(0, 0, 0, 0.12);

$primary-raised-color: white;
$primary-raised-disabled-color: rgba(white, 0.45);

$primary-flat-color: $core-action-normal;
$primary-flat-disabled-color: rgba($core-action-normal, 0.5);

$secondary-raised-color: $core-text-default;
$secondary-raised-disabled-color: rgba($core-text-default, 0.25);

$secondary-flat-color: $core-text-default;
$secondary-flat-disabled-color: rgba($core-text-default, 0.25);

.button {
  display: inline-block;
  min-width: 64px;
  max-width: 100%;
  min-height: 36px;
  padding: 0 16px;
  margin: 8px;
  overflow: hidden;
  font-size: 14px;
  font-weight: bold;
  line-height: 36px;
  text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;
  text-transform: uppercase;
  white-space: nowrap;
  cursor: pointer;
  user-select: none;
  background: none;
  border: 0;
  border-radius: 2px;
  outline: none;
  transition: $transition;

  &::-moz-focus-inner {
    border: 1;
  }
}

a.button {
  display: inline-table; // helps with vertical layout
}

.button.primary.raised {
  color: $primary-raised-color;
  background-color: $core-action-normal;
  &:hover,
  &:focus {
    background-color: $core-action-dark;
  }
  &:disabled {
    color: $primary-raised-disabled-color;
    background-color: rgba($core-action-normal, 0.75);
    svg {
      fill: $primary-raised-disabled-color;
    }
  }
  svg {
    fill: $primary-raised-color;
  }
}

.button.primary.flat {
  color: $primary-flat-color;
  &:hover,
  &:focus {
    background-color: $core-grey-300;
  }
  &:disabled {
    color: $primary-flat-disabled-color;
    svg {
      fill: rgba($core-action-normal, 0.5);
    }
  }
  svg {
    fill: $primary-flat-color;
  }
}

.button.secondary.raised {
  color: $secondary-raised-color;
  background-color: $core-grey-200;
  &:hover,
  &:focus {
    background-color: $core-grey-300;
  }
  &:disabled {
    color: $secondary-raised-disabled-color;
    background-color: rgba($core-text-default, 0.1);
    svg {
      fill: $secondary-raised-disabled-color;
    }
  }
  svg {
    fill: $secondary-raised-color;
  }
}

.button.secondary.flat {
  color: $secondary-flat-color;
  &:hover,
  &:focus {
    background-color: $core-grey-300;
  }
  &:disabled {
    color: $secondary-flat-disabled-color;
    svg {
      fill: $secondary-flat-color;
    }
  }
  svg {
    fill: $secondary-flat-color;
  }
}

.button.primary.raised,
.button.secondary.raised {
  box-shadow: $raised-shadow;
}

.button.primary.raised,
.button.primary.flat,
.button.secondary.raised,
.button.secondary.flat {
  &:disabled {
    pointer-events: none;
    cursor: default;
    box-shadow: none;
  }
}

.link {
  display: inline;
  padding: 0;
  color: $core-action-normal;
  text-align: left;
  text-decoration: underline;
  white-space: normal;
  cursor: pointer;
  user-select: text;
  transition: $transition;

  &:disabled {
    cursor: default;
  }
}
