/*
  Alternative font-family mixin to the global 'font-family-noto'

  This one is specifically for the language switcher, and gives 'noto-common' priority
  over 'noto-full' to avoid unnecessarily loading large font files just because the
  glyphs are used in the language switcher.
*/
@mixin font-family-language-names {
  .full-fonts-loaded & {
    // Unlike in the 'font-family-noto' mixin, here 'noto-full' has the lowest priority
    // to prevent downloading full font files simply to display a single language name.
    font-family: 'noto-subset', 'noto-common', 'noto-full', sans-serif;
  }
}
