from rest_framework.response import Response
from rest_framework.views import APIView


class {{ pascal }}Viewset(APIView):
    def get(self, request):
        return Response({"hello": "{{ snake }}"})
