
/*

  Variables defined here are available to be used globally in all stylus
  definitions, including inside Vue components. To reference these
  variables, add the following line:

  @require '~core-theme.styl'

*/



$core-font = 'NotoSans', 'sans-serif'

$core-action-normal = #996189
$core-action-light = #E2D1E0
$core-action-dark = #72486f

$core-bg-light = #FFFFFF
$core-bg-canvas = #F9F9F9

$core-text-default = #3A3A3A
$core-text-annotation = #686868
$core-text-alert = #DF0F0F
$core-text-alert-bg = #FDFADF

$radius = 4px
$core-time = 0.25s


/*
  Styles below were moved from a Learn-specific style-sheet to here.
  It was difficult to separate them because the $portrait-breakpoint
  is defined in terms of the card width.

  TODO: this needs to be cleaned up and organized significantly.
  At the very least these variables need to be namespaced.
*/

$thumbnail-height = 122px     // fixed thumbnail height

$card-height = 200px         // fixed card height
$card-width = 216px         // fixed card width
$card-gutter = 20px         // spacing between columns
$n-cols-array = 1 2 3 4 5     // possible numbers of columns

$left-margin = 100px
$right-margin = 25px


$horizontal-card-width = 340px
$horizontal-card-height = 100px


// compute the target grid width based on the number of columns
grid-width($n-cols)
  ($card-width * $n-cols) + ($card-gutter * ($n-cols + 1))

$portrait-breakpoint = $left-margin * 2 + grid-width(1) + $right-margin

// compute the media query breakpoint, based on the target grid width
breakpoint($width)
  $left-margin + $width + $card-gutter + $right-margin

// generate a range of media query breakpoints
width-auto-adjust()
  width: grid-width(1)
  for $n-cols in $n-cols-array
    $grid-width = grid-width($n-cols)
    @media (min-width: breakpoint($grid-width))
    @media screen and (max-width: $portrait-breakpoint)
      width: $horizontal-card-width
