
/*

  Variables defined here are available to be used globally in all stylus
  definitions, including inside Vue components. To reference these
  variables, add the following line:

  @require '~kolibri.styles.coreTheme'

*/



$core-font = 'NotoSans', 'sans-serif'

$core-action-normal = #996189
$core-action-light = #E2D1E0
$core-action-dark = #72486f

$core-bg-light = #FFFFFF
$core-bg-canvas = #F9F9F9

$core-text-default = #3A3A3A
$core-text-annotation = #686868
$core-text-disabled = #DFDFDF


// ALERT COLORS
$core-text-success = #0b8210
$core-bg-success = #eaf6ea

$core-text-info = #11568e
$core-bg-info = #e4f3fe

$core-text-warning = #ff9800
$core-bg-warning = #fff3e1

$core-text-error = #b93329
$core-bg-error = #fee9e7


$radius = 4px
$core-time = 0.25s
$letter-spacing = 0.01em

$nav-width = 75px
$left-margin = 100px
$right-margin = 25px
$nav-portrait-height = 56px

$portrait-breakpoint = 520px // TODO - compute this based on variables
$medium-breakpoint = 619px // TODO - compute this based on variables
