/*
  Define any scss constants or functions to be used across the app.
  Items defined here are not meant to be themed - put those in core-theme.scss.

  Concrete styles should not be defined here because they will be copied into
  almost every component.

  To reference these values (and those defined in the theme), add the following
  line to your comonent's scss block:

    @import '~kolibri-design-system/lib/styles/definitions';
*/

// Add items from the design system
@import 'kolibri-design-system/lib/styles/definitions';
