/*
  Define any scss constants or functions to be used across the app.
  Items defined here are not meant to be themed - put those in core-theme.scss.

  Concrete styles should not be defined here because they will be copied into
  almost every component.

  To reference these values (and those defined in the theme), add the following
  line to your comonent's scss block:

    @import '~kolibri.styles.definitions';
*/

$radius: 4px;
$core-time: 0.25s;
$login-overlay: #201a21;

// from http://nicolasgallagher.com/micro-clearfix-hack/
@mixin clearfix() {
  zoom: 1;
  &::after,
  &::before {
    display: table;
    content: '';
  }
  &::after {
    clear: both;
  }
}

/*
  Mixins for font-family to ensure that the full fonts are not referenced until they've
  been loaded using the FontFaceObserver in i18n.js.

  Even though partials are loaded immediately, we need the 'partial-fonts-loaded' class
  for CSS specificity purposes.
*/
@mixin font-family-noto {
  .partial-fonts-loaded & {
    font-family: 'noto-subset', 'noto-common', sans-serif;
  }
  .full-fonts-loaded & {
    // Continue to include the common and subset font subsets since they may contain
    // glyphs not available in the language's default font.
    font-family: 'noto-full', 'noto-subset', 'noto-common', sans-serif;
  }
}

// Matches the Keen-UI/UiToolbar box-shadow property
%ui-toolbar-box-shadow {
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.2);
}

/*
  Use of this mixin can help prompt the browser to use the GPU for certain DOM elements.
  This can help with certain CSS animations and other transitions.

  For details, see https://www.smashingmagazine.com/2016/12/gpu-animation-doing-it-right/
*/
%enable-gpu-acceleration {
  transform: translateZ(0);
  backface-visibility: hidden;
  perspective: 10000px;
}

