@font-face {
  font-family: 'Noto Sans';
  src: url('~typeface-noto-sans/files/noto-sans-latin-400.woff') format('woff');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Noto Sans';
  src: url('~typeface-noto-sans/files/noto-sans-latin-700.woff') format('woff');
  font-style: normal;
  font-weight: bold;
}
