
/*

  Styles defined in this file are attached to the document head, and
  apply globally to everything in the document. They are added after
  normalize.css.

  If any classes are defined here, they are available to all Vue
  components automatically (without using a @require statement).

  WARNING: we should be sparing about what gets added to this file
  because – in addition to normalize.css – all Vue components will
  depend on the behavior defined here, making it hard to change
  later without introducing regressions.

*/



@require '~core-theme.styl'

html, body
  font-family: $core-font
  color: $core-text-default
  background-color: $core-bg-canvas

a
  color: $core-action-normal
  text-decoration: none

  &:hover
    color: $core-action-dark

.visuallyhidden
  border: none
  clip: rect(0 0 0 0)
  height: 1px
  margin: -1px
  overflow: hidden
  padding: 0
  position: absolute
  width: 1px