import KolibriApp from 'kolibri-app';
import routes from './routes';

class {{ pascal }}Module extends KolibriApp {
  get routes() {
    return routes;
  }
}

export default new {{ pascal }}Module();
