/**
  * Styles for responsiveness in learn app
  */
@require '~core-theme.styl'

$card-height = 85px         // fixed card height
$card-width = 340px         // fixed card width
$card-gutter = 20px         // spacing between columns
$n-cols-array = 1 2 3 4     // possible numbers of columns
$nav-bar-width = 80px       // width of side-nav
$nav-bar-padding = 30px     // space between side-nav and main content
$right-margin = 30px        // space for search button
$tool-bar-height = 40px

// compute the target grid width based on the number of columns
grid-width($n-cols)
  ($card-width * $n-cols) + ($card-gutter * ($n-cols - 1))

// compute the media query breakpoint, based on the target grid width
breakpoint($width)
  $width + $nav-bar-width + $nav-bar-padding + $card-gutter + $right-margin

// generate a range of media query breakpoints
width-auto-adjust()
  min-width: $card-width
  for $n-cols in $n-cols-array
    $grid-width = grid-width($n-cols)
    @media (min-width: breakpoint($grid-width))
      width: $grid-width
