@import '~kolibri.styles.definitions';

$transition: color $core-time ease, background-color $core-time ease, box-shadow $core-time ease;
$raised-shadow: 0 1px 5px rgba(0, 0, 0, 0.2), 0 2px 2px rgba(0, 0, 0, 0.14),
  0 3px 1px -2px rgba(0, 0, 0, 0.12);

.button {
  display: inline-block;
  min-width: 64px;
  max-width: 100%;
  min-height: 36px;
  padding: 0 16px;
  margin: 8px;
  overflow: hidden;
  font-size: 14px;
  font-weight: bold;
  line-height: 36px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
  cursor: pointer;
  user-select: none;
  background: none;
  border: 0;
  border-radius: 2px;
  outline: none;
  transition: $transition;

  &::-moz-focus-inner {
    border: 0;
  }
}

a.button {
  display: inline-block; // helps with vertical layout
  vertical-align: top;
}

.raised {
  box-shadow: $raised-shadow;
}

.link {
  display: inline-block;
  padding: 0;
  text-align: left;
  text-decoration: underline;
  white-space: normal;
  cursor: pointer;
  user-select: text;
  transition: $transition;

  &:disabled {
    cursor: default;
  }
}
