
 .wy-table-responsive table td {
    /* !important prevents the common CSS stylesheets from overriding
       this as on RTD they are loaded after this stylesheet */
    white-space: normal !important;
    vertical-align: top !important;
 }

 .rst-content .section ol p, .rst-content .section ul p {
  margin-bottom: 0px;
 }

 .rst-content #contents.hidden-first-item > ul:nth-of-type(1) {
   margin-left: 0;
   padding-left: 0;
 }
 .rst-content #contents.hidden-first-item > ul:nth-of-type(1) > li {
   list-style: none;
   margin-left: 0;
   padding-left: 0;
 }
 .rst-content #contents.hidden-first-item > ul:nth-of-type(1) > li > p {
   display: none;
 }
 .rst-content #contents.hidden-first-item ul li li {
   list-style: disc;
 }
 .rst-content #contents.hidden-first-item ul li li li {
   list-style: circle;
 }
