name: Docs

on:
  push:
    branches:
    - develop
    - 'release-v**'
  pull_request:
    branches:
    - develop
    - 'release-v**'

jobs:
  pre_job:
    name: Path match check
    runs-on: ubuntu-latest
    # Map a step output to a job output
    outputs:
      should_skip: ${{ steps.skip_check.outputs.should_skip }}
    steps:
      - id: skip_check
        uses: fkirc/skip-duplicate-actions@master
        with:
          github_token: ${{ github.token }}
          paths: '["docs/**", "requirements/docs.txt", ".github/workflows/check_docs.yml", "*.md"]'
  docs:
    name: Checking docs build
    needs: pre_job
    if: ${{ needs.pre_job.outputs.should_skip != 'true' }}
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Setup Python
      uses: actions/setup-python@v5
      with:
        python-version: 3.9
    - name: pip cache
      uses: actions/cache@v4
      with:
        path: ~/.cache/pip
        key: ${{ runner.os }}-pip-docs-${{ hashFiles('requirements/docs.txt') }}
        restore-keys: |
          ${{ runner.os }}-pip-docs
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements/docs.txt
    - name: Check Docs build
      run: make docs
