name: No zombie threads

on: [push, pull_request]

jobs:
  pre_job:
    name: Path match check
    runs-on: ubuntu-latest
    # Map a step output to a job output
    outputs:
      should_skip: ${{ steps.skip_check.outputs.should_skip }}
    steps:
      - id: skip_check
        uses: fkirc/skip-duplicate-actions@master
        with:
          github_token: ${{ github.token }}
          paths: '["kolibri/**/*.py", "requirements/base.txt"]'
  zombies:
    name: No zombies
    needs: pre_job
    if: ${{ needs.pre_job.outputs.should_skip != 'true' }}
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-python@v2
      with:
        python-version: 3.6
    - name: pip cache
      uses: actions/cache@v2
      with:
        path: ~/.cache/pip
        key: ${{ runner.os }}-pip-base-${{ hashFiles('requirements/base.txt') }}
        restore-keys: |
          ${{ runner.os }}-pip-base
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements/base.txt
        pip install -r requirements/cext.txt
    - name: Check proper shutdown
      run: |
        pip install .

        # ensure kolibri stops within 20 seconds 10 times in a row
        ./test/ensure_kolibri_stops_within_time.sh 20 10 8082 8083
        ./test/ensure_no_kolibris_running_on_port.sh 8082
        ./test/ensure_no_kolibris_running_on_port.sh 8083
