{% load i18n staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% trans 'OpenID Provider Authorization' %}</title>
</head>

<body>
{% block content %}

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <h2>{% trans 'Request for Permission' %}</h2>
        <p class="lead">Client <i>{{ client.name }}</i> would like to access this information of you.</p>
        <form method="post" action="{% url 'oidc_provider:authorize' %}">
            {% csrf_token %}
            {{ hidden_inputs }}
            <ul>
                {% for scope in scopes %}
                <li><strong>{{ scope.name }}</strong> <br><i class="text-muted">{{ scope.description }}</i></li>
                {% endfor %}
            </ul>
            <br>
            <input type="submit" class="btn btn-primary btn-block btn-lg" name="allow"  value="Authorize" />
            <input type="submit" class="btn btn-secondary btn-block" value="Decline" />
        </form>
    </div>
</div>

{% endblock %}
</body>
</html>
